# Force all text files to use LF (Unix) line endings on check-in/check-out
* text eol=lf

# Explicitly handle Windows shell scripts
*.bat text eol=crlf
/gradlew text eol=lf

# Mark binaries to prevent corruption
*.jar binary
*.png binary
*.jpg binary
